@charset "utf-8";

.left {
 text-align: left;
}

.center {
 text-align: center;
}

.right {
 text-align: right;
}

.justify {
 text-align: justify;
}

/* 画像の調整 */

div {
 text-align: center;
}